
@{
    ViewBag.Title = "Masterdata";
}

<h2>Masterdata</h2>


<div class="row">
    <div class="col-md-2">
        <h2>Customers</h2>
        <p>
            @Html.ActionLink("Countries", "Index", "Countries")
        </p>
        <p>
            @Html.ActionLink("Channels", "Index", "Channels")
        </p>
        <p>
            @Html.ActionLink("Customers", "Index", "Customers")
        </p>
    </div>
    <div class="col-md-2">
        <h2>Products</h2>
        <p>
            @Html.ActionLink("Segments", "Index", "Segments")
        </p>
        <p>
            @Html.ActionLink("Brands", "Index", "Brands")
        </p>
        <p>
            @Html.ActionLink("Technologies", "Index", "Technologies")
        </p>
        <p>
            @Html.ActionLink("PromoGroups", "Index", "PromoGroups")
        </p>
        <p>
            @Html.ActionLink("Products", "Index", "Products")
        </p>
        <p>
            @Html.ActionLink("ProductsPrices", "Index", "ProductsPrices")
        </p>
    </div>
    <div class="col-md-2">
        <h2>Fixed TE</h2>
        <p>
            @Html.ActionLink("FixedTE_details", "Index", "FixedTE_details")
        </p>
        <p>
            @Html.ActionLink("FixedTE_types", "Index", "FixedTE_types")
        </p>

    </div>
    <div class="col-md-2">
        <h2>Promotions</h2>
        <p>
            @Html.ActionLink("PromotionsStatus", "Index", "PromotionsStatus")
        </p>
        <p>
            @Html.ActionLink("PromotionsTypes", "Index", "PromotionsTypes")
        </p>
    </div>
    <div class="col-md-2">
        <h2>Date</h2>
        <p>
            @Html.ActionLink("Years", "Index", "Years")
        </p>
        <p>
            Period
        </p>
    </div>
    <div class="col-md-2">
        <h2>Others</h2>
        <p>
            Others
        </p>
    </div>
</div>